# =======
# Jenkins
# =======
# Must contain at least 12 characters, 1 upper case, 1 lower case, 1 number,
# and 1 special character.
JENKINS_ADMIN_PASS=
JENKINS_ADMIN_USER=17636-admin
JENKINS_URL_AND_PORT=http://localhost:8080
PROD_SSH_KEY=""
PROD_URL=

# =========
# SonarQube
# =========
# Must contain at least 12 characters, 1 upper case, 1 lower case, 1 number,
# and 1 special character.
SONARQUBE_ADMIN_PASS=
SONARQUBE_ADMIN_USER=17636-admin

# =======
# Grafana
# =======
GF_SECURITY_ADMIN_PASSWORD=
GF_SECURITY_ADMIN_USER=17636-admin
GF_USERS_ALLOW_SIGN_UP=false

# ====================================
# Pet clinic frontend and its database
# ====================================
# The following two variables must have the same values.
# This is because the pet clinic web app expects one and the postgres instance
# expects the other.
POSTGRES_PASS=
POSTGRES_PASSWORD=
