# =======
# Jenkins
# =======
JENKINS_URL_AND_PORT=http://localhost:8080
JENKINS_ADMIN_USER=17636-admin
JENKINS_PASS=

# ====================================
# Pet clinic frontend and its database
# ====================================
# The following two variables must have the same values.
# This is because the pet clinic web app expects one and the postgres instance
# expects the other.
POSTGRES_PASSWORD=
POSTGRES_PASS=
