# =======
# Jenkins
# =======
JENKINS_PASS=

# ====================================
# Pet clinic frontend and its database
# ====================================
# The following two variables must have the same values.
# This is because the pet clinic web app expects one and the postgres instance
# expects the other.
POSTGRES_PASSWORD=
POSTGRES_PASS=
